# assignment ***1***

# Insert the correct syntax to convert x into a **integer**

In [1]:
 x = 5.5
 x =int(x)
 print(x)

5

# Insert the correct syntax to convert x into a floating point number.

In [2]:
x = 5
x =float(x)
print(x)

5.0

# Exercise on **string**

# Use the len() function to print the length of the string.

In [3]:
x = "Hello World"
print(len(x))

11

In [4]:
txt = "Hello World"
x= txt[0]
print(x)

H

In [6]:
txt = "Hello World"
x =txt[2:5]
print(x)

llo

In [7]:
txt = " Hello World "
x =txt.strip()
print(x)

Hello World

In [8]:
txt = "Hello World"
txt = txt.upper()
print(txt)

HELLO WORLD

In [9]:
txt = "Hello World"
txt = txt.lower()
print(txt)

hello world

In [10]:
txt = "Hello World"
txt = txt.replace("H","J")
print(txt)

Jello World

In [11]:
age = 36
txt = f"My name is John, and I am {age} years old"
print(txt)

My name is John, and I am 36 years old

# Exercise on Booleans

In [12]:
print(10 > 9)
# true

True

In [13]:
print(10 == 9)
# false

False

In [14]:
print(10 < 9)
# false

False

In [15]:
#Exercise-1
verse = """\
Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are!"""

print(verse)

#Exercise-2
first_name=input("please enter your first name\n")
last_name=input("please enter your last name\n")
#print(last_name +"  "+ first_name)
print(f"{last_name}\t{first_name}")

#Exercise-3
radius = 1.1
π=3.14
Area=π*radius*radius
print("The area of the circle=",Area)

#Exercise-4
File_name=input("please enter file name")
f_exts=File_name.split(".")
print(f_exts[-1])

#Exercise-5
value = "Amit"

# Convert string to list
value_list = list(value)

# Convert string to tuple
value_tuple = tuple(value)

# Print the list and tuple

print("List:", value_list)
print("Tuple:", value_tuple)
#Relace the index 3 in the list

value_list[3]="T"
#Convert the list to string and print the list¶

value_modified = ''.join(value_list)
# Print the modified list
print(value_modified)
#Exercise-6
color_list = ["Red", "Green", "White", "Black"]

print("First color:", color_list[0])

print("Last color:", color_list[-1])

#Exercise-7
# Printing the here document
print('''\
#Sample Output:
# a string that you "don't" have to escape
# This
# is a  ....... multi-line
# heredoc string --------> example
''')

#Exercise-8
link= "https://www.google.com/"
email="aimt4536@gmail.com"
print(link.startswith("https"))
print(email.endswith(".com"))

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are!